root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.{build,config,csproj,dbml,json,nuspec,proj,props,StyleCop,targets,txt,xml,yml}]
indent_size = 2
tab_width = 2

# .NET formatting rules
[*.{cs,vb}]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_namespace_match_folder = true
csharp_space_after_cast = true
csharp_space_within_single_line_array_initializer_braces = true
